@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");

.lexend-deca-400 {
	font-family: "Lexend Deca", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.big-shoulders-700 {
	font-family: "Big Shoulders Display", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}
